<nav class="sidebar-nav">
  <ul>
    <li><%= fa_icon "dashboard 1x" %></li>
    <li class="active"><%= fa_icon "file-text-o 1x" %></li>
    <li><%= fa_icon "link 1x" %></li>
    <li><%= fa_icon "user 1x" %></li>
    <li><%= fa_icon "envelope 1x" %></li>
    <li><%= fa_icon "cogs 1x" %></li>
  </ul>
</nav>
<section class="content">
  <h1>
    Equipment
    <div class="toggle"><%= fa_icon "caret-down" %></div>
  </h1>
  <div class="search">
    <%= text_field_tag :search, "", class: "input-form", placeholder: "Search" %>
    <div>
      <%= link_to "Add new", "#", class: "btn" %>
    </div>
  </div>

  <ul class="equipment-list">
    <% @equipments.each do |equip| %>
    <li>
      <div class="icon">
      <%= image_tag "http://img.directindustry.com/images_di/photo-g/bulldozers-40827-2756811.jpg" %>
      </div>
      <span class="equip-name"><%= link_to equip.name, '#', data: { uuid: equip.id.to_s } %></span>
      <span id="target" class="checkbox"><%= check_box_tag :active, "1", true, data: { uuid: equip.id.to_s } %>
    </li>
    <% end %>
  </ul>
</section>

<% content_for :map do %>
  <div id='map'></div>
  <script>
    var map_data = <%= YAML::load(File.open('sample_coordinates.yml'))['route_2'] %>;
    var mapbox_token = "<%= Rails.application.secrets.mapbox_token %>";
  </script>

<% end %>
