<header>
  <h1>Project: <%= @project.name %> </h1>
  <h1>Equipment</h1>
  <%= link_to 'New Equipment', new_equipment_path %>
  <ul class="equipment-list">
    <% @equipments.each do |equip| %>
    <li>
      <span class="color"></span>
      <span><%= equip.name %></span>
      <span id="target" class="checkbox"><%= check_box_tag :active, "1", false, data: { uuid: equip.id.to_s } %>
    </li>
    <% end %>
  </ul>
</header>

<% content_for :map do %>
  <div id='map'></div>
  <script>
    "use strict";

    var map_data = <%= YAML::load(File.open('sample_coordinates.yml'))['route_2'] %>

    L.mapbox.accessToken = "<%= Rails.application.secrets.mapbox_token %>";

    var map = L.mapbox.map('map', 'examples.map-h67hf2ic')
      .setView([47.6794895, -122.2637558], 14);

    var transformed_map_data = _.map(map_data, function(coordinates) {
      return L.latLng(coordinates[0], coordinates[1]);
    });

    var marker = L.marker([map_data[0][0], map_data[0][1]], {
      icon: L.mapbox.marker.icon({
        'marker-color': '#f86767',
        'marker-symbol': 'bus'
      })
    });


    function drawRoute(index, routeData) {
      setTimeout(function() {
        //marker.setLatLng(routeData[index]);
        polyline.addLatLng(routeData[index]);

        index++;

        if(index < routeData.length - 1) {
          drawRoute(index, routeData);
        }
      }, 1000);
    }

    drawRoute(0, transformed_map_data);

    //marker.addTo(map);

    var marker2 = L.marker([map_data[0][0], map_data[0][1]], {
      icon: L.mapbox.marker.icon({
        'marker-color': '#f54143'
      })
    });
    marker2.addTo(map);

    var polyline2 = L.polyline([], {color: 'blue'}).addTo(map);


    function createPulse(data) {
      var id = data.id.$oid;
      setInterval(function() {
        $.ajax({
          url: "/equipment/"+id+".json",
          success: function(equipmentData) {
            var coordinates = equipmentData.current_location.coordinates
            marker2.setLatLng(L.latLng(coordinates[0], coordinates[1]));
            polyline2.addLatLng(L.latLng(coordinates[0], coordinates[1]));
          }
        })
      }, 1000);
    };

    $.ajax({
      url: "/equipment.json",
      success: function(data) {
        data.map(createPulse)
      }
    });

    function toggleMarker() {
      var check_all = $(".checkbox");

      check_all.click(function() {

        this.hide();
      });
    };

    $( ".checkbox" ).click(function() {
      var $this = $(this);
      var uuid = $this.children().attr("data-uuid");
      alert( $this.children().attr("data-uuid") + "Handler for .click() called." );
    });

  </script>

<% end %>
