<!DOCTYPE html>
<html>
<head>
  <title>Equipmap</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <%= csrf_meta_tags %>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.0/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.0/mapbox.css' rel='stylesheet' />
</head>
<body>

  <div class="container">
    <div class="sidebar">
      <%= yield %>
    </div>
    <div class="map-container">
      <header>
      </header>
      <%= yield :map %>
    </div>
  </div>

</body>
</html>
